
<!DOCTYPE html>
<head>
</head>
<body>
  <center>

<div class="topnav">
  <a class="active"  href="{% url 'logout' %}"style="float: right;">LOGOUT</a>

</div>

<style>
body {
  margin: 0;
}
.sub{
  button {
    padding:0; 
    margin:0;
    border:0;
    background-color:transparent;
}
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
</style>
<p>this is our home page</p>
</center>
</body>
</html>
